- cache "home-speakers" do
  .container#speakers
    %header
      %h3 Keynote speakers
    .row
      - for speaker in speakers
        .col-sm-12.col-md-6.speaker
          .thumbnail
            .row
              .speaker-portrait.col-sm-12.col-md-4
                = image_tag speaker.portrait.url(:s300), class: 'speaker-portrait'
              .speaker-caption.col-sm-12.col-md-8
                %h4= speaker.full_name
                =raw speaker.description
                = link_to speaker.url, class: "btn btn-default pull-right", target: '_blank' do
                  %span.glyphicon.glyphicon-globe
                  visit website
