- cache "home-speakers" do
  %section#speakers.home-section
    .container
      %header
        %h2 Keynote speakers
      .row
        - for speaker in speakers
          .col-md-6.speaker
            .thumbnail
              .row
                .speaker-portrait.col-md-4
                  = image_tag speaker.portrait.url(:s300), class: 'speaker-portrait'
                .speaker-caption.col-md-8
                  %h3= speaker.full_name
                  =raw speaker.description
                  = link_to speaker.url, class: "btn btn-default pull-right", target: '_blank' do
                    %span.glyphicon.glyphicon-globe
                    visit website
