- cache "home-venue" do
  %section#venue.home-section
    .container
      .row
        .col-md-9.content
          %h2 Venue & Travel
          %h3 Conference venue
          %p
            Auditorium A300
            %br
            Main hall of Sciences II building.
            %br
            30 quai Ernest Ansermet,
            %br
            1211 Geneva
          %h3 Conference venue
          %p
            Auditorium A300
            %br
            Main hall of Sciences II building.
            %br
            30 quai Ernest Ansermet,
            %br
            1211 Geneva
          %h3
            Coming in

          %h4
            By car
          %p
            Google maps below give driving directions from France or from Lausanne. The Science Department is located in the center of Geneva. We do not recommend coming by car because traffic and construction sites make driving quite tedious. Parking is also quite expensive and sometimes hard to find. The closest public parking areas are located at the “Ecole de Physique”, at Uni Mail (follow Quai Ernest Ansermet for about 1 km) and in the street “David Dufour” (see the Parking Map).

          %h4
            By train and bus
          %p
            Take tramway 14 (direction: P+R Bernex). Get off the tramway at “Jonction” and change for either bus 2 (direction: Genève-Plage) or bus 19 (direction: Vernier-Village). Both these buses depart from the “Rue du Vélodrome” that you reach by crossing the “Rue des Deux-Ponts” in front of the tramway. These buses will bring you to “Sainte-Clotilde”, the closest bus stop from the Sciences departments. For directions from the bus stop, read the instructions below (“Walking from the “Sainte-Clotilde” bus stop to the Sciences department”). For bus maps and timetables, see the TPG website.

          %h4
            By plane
          %p
            In Geneva's Cointrin international airport baggage claim area, take a free bus ticket from the machine sitting right before customs and exit doors. Follow the signs inside the airport to the bus stop. Take either bus line 10 (direction: Rive) or bus 5 (direction: Thônex-Vallard) and stop at “Bel-Air”. Change for bus 19 or bus 2 (direction: Onex-Cité) and stop at “Sainte-Clotilde”. For directions from the Sainte-Clotilde bus stop to the Sciences Departments read the instructions below. For bus maps and timetables, see the TPG website.
          %h3
            Housing (walking distance from the conference venue)
          %ul
            %li
              Hotel Carmen : http://www.hotel-carmen.ch/
            %li
              Hotel Dizerens : http://www.residencedizerens.ch/
            %li
              Hotel Aida : http://www.hotel-aida.ch/
            %li
              Hotel Comédie : http://www.hotel-comedie.ch/
            %li
              Hotel Starling Residence : http://www.shresidence.ch/
            %li
              Special Boutique Design Hotel : La cours des Augustins  http://www.lacourdesaugustins.com
          %h3
            General tourist information
          %p
            http://www.geneve-tourisme.ch/en/accueil/
