- cache events do
  - events.each do |date, events|
    .col-md-6
      %table.table.table-striped
        %thead
          %tr
            %td{colspan: 2}
              %h2
                = date.to_s(:day_month_year)
        %tbody
          - for event in events
            %tr{class: event.table_classes}
              %th
                = event.start.to_s(:time_only)
                –
                = event.end.to_s(:time_only)
              %td
                = event.title
