@import "variables"

footer
  padding: 2em

  .logos-logo
    display: block
    min-height: 100px
    background:
      repeat: no-repeat
      position: center center
      size: contain
    span.logos-log-title
      position: absolute
      left: -33333333px

  #logos-organizers-unige
    background:
      image: image-url("logos/UNIGE.png")
  #logos-organizers-geneve
    background:
      image: image-url("logos/VGE.png")
  #logos-organizers-museum
    background:
      image: image-url("logos/museum.png")
  #logos-organizers-jardinbot
    background:
      image: image-url("logos/jardinbot.png")

  #logos-sponsors-szs
    background:
      image: image-url("logos/SZS.png")
  #logos-sponsors-sss
    background:
      image: image-url("logos/SSS.png")
  #logos-sponsors-ige3
    background:
      image: image-url("logos/ige3.png")
  #logos-sponsors-sbs
    background:
      image: image-url("logos/SBS.png")

  #footer-copyright
    text-align: center
    font:
      size: 1.285714286em
      family: $heading
    line-height: 1.33333333em
    padding-top: 4.333333333em
