@import "variables"

form
  fieldset
legend
  font:
    family: $heading
    size: 1.714285714em
  line-height: 2em
  label
    margin-left: 1em
    vertical-align: baseline
    font:
      weight: normal
    input[type="radio"]
      margin-right: 0.3em
select
  color: $darkgrey
  font-size: 1.285714286em
  max-width: 100%
