@import variables

.home-section, #footer
  background:
    repeat: no-repeat
  padding: 1.714285714em inherit
  h2
    font-size: 4.5em
    line-height: 1.6184em
    // margin-top: 4.5em
  // .content
  //   font-size:
  //   background:
  //     color: rgba(255,255,255,1)
  p
    font-size: 1.285714286em
    line-height: 1.333333333em



// #home-banner
.jumbotron
  margin-bottom: 0
  background:
    color: white
  h2
    font-size: 1.428571429em
  p
    font-size: 1em
.home-banner-carousel img
  max-height: 400px
  margin: auto
.home-banner-welcome
  margin-top: 2.6184em

// .home-section
//   h2
//     font:
//       size

#conference
  background:
    color: rgba(38,87,224, 0.25  )
    image: image-url("backgrounds/conference.png")
    position: -10% top
    size: 30%
#program
  background:
    color: $light_red
    image: image-url("backgrounds/program.png")
    position: 120% top
    size: 40%
  table tbody tr
    background:
      color: white
  h2, h3
    color: $dark_red
#speakers
  background:
    color: rgba(153,0,153,0.25)
    image: image-url("backgrounds/speakers.png")
    position: bottom left
    position: left 150%
    size: 40%
  .thumbnail
    background-color: transparent
#registration
  background:
    color: rgba(166,92,68, 0.25  )
    image: image-url("backgrounds/registration.svg")
    position: top right
    size: 40%
#venue
  background:
    color: rgba(51,204,51, 0.25  )
    image: image-url("backgrounds/venue.png")
    position: bottom left
    size: 40%
#pace14
  background:
    color: rgba(255,102,51, 0.25  )
    image: image-url("backgrounds/pace14.png")
    position: top right
    size: 20%
