/* bootstrap variables */
$font-size-base: 18px !default


/* fonts */

@font-face
  font-family: 'Mdcollageal'
  src: url(asset-path("mdcollageal-webfont.eot"))
  src: url(asset-path("mdcollageal-webfont.eot?#iefix")) format("embedded-opentype"), url(asset-path("mdcollageal-webfont.woff")) format("woff"), url(asset-path("mdcollageal-webfont.ttf")) format("truetype"), url(asset-path("mdcollageal-webfont.svg")) format("svg")

$heading: "jaf-domus-titling-web", sans-serif
$sanserif: "Helvetica Neue", Helvetica, Arial, sans-serif

/* basis */
$darkgrey: rgb(100, 100, 100)
$lightgrey: rgb(233, 233, 233)

$red: rgb(255,0,0)
$light_red: rgba(255,0,0,0.25)
$dark_red: rgb(180, 0, 0)

$violet: rgb(153,0,153)
$light_violet: rgba(153,0,153,0.25)
$dark_violet: rgb(110,0,110)

$braun: rgb(162,86,65)
$light_braun: rgba(162,86,65,0.25)
$dark_braun: rgb(106,63,0)

$green: rgb(51,204,51)
$light_green: rgba(51,204,51,0.25)
$dark_green: rgb(51,125,51)

$orange: rgb(255,102,51)
$light_orange: rgba(255,102,51,0.25)
$dark_orange: rgb(255, 90, 0)

$blue: #77BED2
$halfblue: rgba(119, 190, 210, 0.5)
$darkblue: rgb(100, 160, 180)

=transition-property($transition: all)
  -webkit-transition-property: $transition
  -moz-transition-property: $transition
  -o-transition-property: $transition
  transition-property: $transition
=transition-duration($duration: 0.2)
  -webkit-transition-duration: $duration
  -moz-transition-duration: $duration
  -o-transition-duration: $duration
  transition-duration: $duration
