@import "bootstrap/variables"

@media (max-width: $screen-xs-max)
  .home-section, #footer
    h2
      font:
        size: 2.571428571em // 48px
      line-height: 1.5em // 96px
      margin-bottom: 24px
  .jumbotron
    text-align: center
    h2
      font-size: 1.142857143em
  .home-banner-carousel
    display: none
  h1.biology14
    font-size: 2.7em
  select
    max-width: 280px
  footer
    .logos-logo
      display: block
      min-height: auto
@media (min-width: $screen-sm) and (max-width: $screen-sm-max)
  h1.biology14
    font-size: 3em
  .home-banner-carousel
    margin-top: 3.428571429em


@media (min-width: $screen-md) and (max-width: $screen-md-max)
  h1.biology14
    font-size: 4em

@media (min-width: $screen-lg)
